<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="DemoDatabaseNAV(5-0)ConnectionStrings"
		providerName="System.Data.SqlClient"
		connectionString="Server=localhost;Database=DemoDatabase NAV (5-0);Connection Timeout=5;Integrated Security=user8;Password=Login8!;User=Grupp8;" />
	</connectionStrings>
</configuration>